ASSIGNMENT3

Assignment3 ->
work on string template class

In [ ]:
# string formating -> it is a process of infusing things in the string dynamically and presenting the string
# There are four different ways to perform string formatting
  1.Formatting string using operator
  2.Formatting string using format method
  3.Formatted string using F-strings
  4.String template class

In [ ]:
# String template class 
# Template class allows us to create simplified syntax for output specification
# The format uses placeholder names formed by $ with valid python identifiers(alphanumeric charactersand underscores)

EXAMPLE1

In [2]:
# A simple python template example
from string import Template

# Create a template that has placeholders for value of x
t = Template('x is $x')

# Substitute value of x in above template
print (t.substitute({'x' :1}))

x is 1

EXAMPLE2

In [4]:
# A python program to demonstrate the
# working of the string template
from string import Template

# List student stores the name and marks of three students
student = [('Lucky',90),('Nandu',78),('Nikky',92)]

# We are creating a basic structure to print the name and
# marks of the students
t = Template('Hi $name, you have got $marks marks')

for i in student:
     print (t.substitute(name = i[0], marks = i[1]))

Hi Lucky, you have got 90 marks
Hi Nandu, you have got 78 marks
Hi Nikky, you have got 92 marks

EXAMPLE3

In [5]:
from string import Template

template = Template('$name is the $job of $company')

string = template.safe_substitute(name='Venkatesh',job='TCE')
print(string)

Venkatesh is the TCE of $company

EXAMPLE4

In [7]:
t = Template('I am lucky from hyderabad')
print('Template String = ',t.template)

Template String =  I am lucky from hyderabad

EXAMPLE5

In [12]:
template = Template('$$ is the symbol for $name')
string = template.substitute(name='Dollar')
print(string)

$ is the symbol for Dollar

EXAMPLE6

In [13]:
template = Template('That $noun looks ${noun}y')
string = template.substitute(noun='Fish')
print(string)

That Fish looks Fishy